.testimonials {
    min-height: 100vh;
    color: white;
    position: relative;
    z-index: 2;
    background:
        linear-gradient(to bottom, rgba(42, 59, 137, .85) 20%,
            rgba(42, 59, 137, .85)), url(../../../../assets/img/testimonial/bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* padding: 2rem 4rem; */
    padding-top: 4rem;
    /* overflow: hidden; */
}


.testimonials>h3 {
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    color: #05bbfe;
}

.testimonials>h2 {
    text-transform: capitalize;
    font-size: 3.8rem;
    font-weight: 500;
    text-align: center;
}

.testimonials>h2 span {
    color: #2DB7FF;
}

.testimonials>p {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.2rem;
}

.testimonials .cards {
    margin-top: 3rem;
    padding: 0 6rem;
    display: grid;
    grid-template-columns: repeat(4, 310px);
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */

}

.testimonials .cards .card {
    margin: 10px;
    /* width: 540px; */
    background-color: #fff;
    color: #000;
    padding: 24px;
    border-radius: 32px;
    position: relative;
    /* display: flex; */
}

.testimonials .cards .card .card-left {
    margin-right: 15px;
    width: 140px;
    /* border-right: 1px solid #05bbfe; */
}

.testimonials .cards .card .card-left .card-img {
    width: 80px;
    height: 80px;
    border-radius: 32px;
    /* display: none; */
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 150px;
    /* top: 0px; */
    /* left: 180px; */
    outline: 3px solid #2db7ff;
    outline-offset: 6px;
}

.testimonials .cards .card .card-left .card-name {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 5px 0;
    color: #263787;
}

.testimonials .cards .card .card-left p {
    color: #2db7ff;
    margin-bottom: 25px;
}

.testimonials .cards .card .card-right .stars {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly; */
}

.testimonials .cards .card .card-right .stars>* {
    color: #2db7ff;
    font-size: 1.5rem;
    margin-right: 5px;
}

/* .testimonials .cards .card .card-left p {} */

.testimonials .cards .card .card-right {
    width: 200px;
    color: #263787;
}

.testimonials .cards .card .card-right .card-desc {
    font-size: 1rem;
}

/* .testimonials .cards .card .card-right .card-icon {
    font-size: 4rem;
    font-weight: 700;
} */

/* .testimonials .cards .card .card-right .card-title {} */

.testimonials button {
    padding: 10px 25px;
    border-radius: 10px;
    color: #000;
    background-color: #05bbfe;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 500;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    transition: .3s background;
}

.testimonials button:hover {
    background-color: white;
}

/* @media(max-width:1200px) {} */

@media(max-width:992px) {
    .testimonials {
        padding: 0rem;
        padding-top: 6rem;
    }

    .testimonials .cards {
        /* display: grid; */
        grid-template-columns: 1fr;
    }
}

@media(max-width:768px) {}