.shopping {
    padding: 6rem 4rem;
    color: #000;
    background-color: #f6f6f6;
    display: grid;
    grid-template-columns: 1fr 350px;
    padding: 50px;
    gap: 30px;

}

/* f2f5f8 */
.shopping-cart {
    /* background-color: white; */
    padding: 15px;
}

.shopping .head {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.head span {
    font-size: 1.4rem;
}

div.cart {
    /* display: flex; */
    padding: 15px;
}

.cart .img {
    width: 25%;
    margin-right: 25px;
}

.cart .img img {
    width: 150px;
    height: 150px;
    border-radius: 32px;
}

.card-details>* {
    margin: 10px 0;
}

.cart .card-details .title {
    /* display: flex; */
    /* justify-content: space-between; */
}

.title p {
    width: 75%;
}

.card-details strong {
    display: block;
}

.count {
    width: 50px !important;
    text-align: center !important;
    font-size: 1.5rem;
}

.increment,
.decrement {
    /* text-primary */
    margin: 0 10px;
    color: #477cff;
    background-color: transparent;
    width: 50px;
    height: 50px;
    font-size: 2.5rem;
    border: none;
    background-color: transparent;
}

.increment,
.decrement {
    transform: translateY(6px);
}

.card-details .delete {
    color: #477cff;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.shopping .clear {
    color: #477cff;
    border: 2px solid #477cff;
    padding: 10px;
    border-radius: 20px;
    margin: 10px 0;
    font-size: 1.5rem;
    background-color: transparent;
}

.buy {
    height: fit-content;
    padding: 15px;
    background-color: #2db7ff;
    color: white;
    font-size: 1.2rem !important;
    border-radius: 8px;
}

.buy .detail {
    display: grid;
    grid-template-columns: 50px 1fr;
    font-size: 1.5rem;
}

.detail i {
    font-size: 25px;
    width: 40px;
    height: 40px;
    background-color: #477cff;
    color: white;
    display: grid;
    place-content: center;
    border-radius: 50%;
}

.detail div p {
    font-size: 14px;
}

.detail div p a {
    color: #477cff;
    text-decoration: underline;
}

.process-to-buy {
    padding: 10px;
    color: white;
    border-radius: 15px;
    background-color: #f6f6f6;
    color: #000;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.btn.h-25 {
    height: 50px !important;
}

.nocart {
    width: 350px;
    height: 300px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    border: 2px solid #477cff;
    border-radius: 25px;
    background-color: #eee;
    box-shadow:
        0 0 10px #477cff,
        0 0 20px #477cff;
    /* bg-dark p-5 text-center ng-star-inserted */
}

.nocart h2 i {
    color: #477cff;
    font-size: 2.5rem;
    margin: 10px 0;
}

.nocart h5 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.nocart p {
    font-size: 1rem;
    margin: 10px 0;
}

.nocart {
    border: 2px solid #477cff;
    font-size: 1.4rem;
    padding: 15px;
    /* margin: 25px; */
    border-radius: 20px;
    cursor: pointer;
    transition: .5s background;
    /* btn btn-warning text-end */
}

.nocart a {
    display: inline-block;
    color: white;
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 15px;
    background-color: #477cff;
}

.nocart div:hover {
    background-color: #477cff;
}

.favourit {
    padding: 1.5rem 8rem;
    position: relative;
}

.favourit h2 {
    text-align: center;
    font-size: 1.5rem;
}

.favourit .favourit-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.favourit .favourit-cards .favourit-card {
    color: white;
    padding: 15px;
    width: 300px;
    background-color: rgb(33, 37, 41);
}

.favourit .favourit-cards .favourit-card img {
    width: 200px;
    height: 150px;
}

@media (max-width: 1200px) {
    .nocart {
        width: 380px;
    }
}

@media (max-width: 992px) {
    .shopping {
        grid-template-columns: 1fr;
    }

    .nocart {
        width: 350px;
        display: grid;
        grid-template-columns: 100%;
    }

}

@media(max-width:768px) {
    .nocart {
        width: 300px;
    }

    .cart .img img {
        width: 110%;
    }
}

@media(max-width:576px) {
    .nocart {
        /* width: 295px; */
        margin: 0 auto;
    }

    .cart {
        flex-direction: column;

    }

    .cart .img img {
        width: 100%;
    }

}