.comments,
.users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.comments .comment,
.users .user {
    background-color: #b8def1;
    height: 200px;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    outline: 2px solid #2DB7FF;

}

.comments .comment {
    height: 280px;
}

.comments .comment .photoimage,
.users .user .photoimage {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: 3px solid #263787;
    outline-offset: 5px;
    margin: 0 auto 10px auto;
}

.comments .comment .username,
.users .user .username {
    margin-bottom: 10px;
}

.comments .comment .phone,
.users .user .phone {
    margin-bottom: 10px;
}

.comments .comment .email,
.users .user .email {
    margin-bottom: 10px;

}